node_modules
.env
dist
coverage
*.log
.idea
.vscode
*.csv
.csv
unified_markets.json
candidate_market_groups.json
test_candidate_market_groups.json
market_pairs.json
/data/*
!/data/.gitkeep
/src/test/__fixtures__/*
KALSHI-API-SECRET.txt