# Polymarket (Standard Ethereum Private Key, starting with or without 0x)
POLY_PRIVATE_KEY=your_poly_private_key_here

# Kalshi (API Key string + Path to the .txt file containing the private key)
KALSHI_API_KEY=your_kalshi_key_id_here
KALSHI_KEY_PATH=./keys/kalshi_key.txt

OPENAI_API_KEY=string